@page "/about"

<h3>About</h3>



    <MudPaper Class="custom-paper">
       
        <MudText >
            <p>Federaţia Română de Arte Marţiale este persoană juridică de drept privat, de utilitate publică, autonomă, neguvernamentală, apolitică și fără scop lucrativ.</p>

            <p>Personalitatea juridică a F.R.A.M. este dobandită în condiţiile legii, înființată conform H.G. 297 / 21 martie 1990 și publicată în Monitorul Oficial nr. 72 din 22 aprilie 1992.</p>

            <p>În conformitate cu prevederile Legii nr.69/2000, art.36 (5 ), Federaţia Română de Arte Marţiale se organizează și funcţionează în baza statutului propriu elaborat în conformitate cu prevederile acestei legi și cu statutele federațiilor internaționale corespondente (mai jos – detalii federații internaționale la care Federația Română de Arte Marțiale este afiliată).</p>

            <p>F.R.A.M. este o structură sportivă de interes național, singura autorizată să organizeze si să controleze în România activitatea stilurilor de arte marţiale prevazute în art. 3 din statutul său (click aici pentru a viziona statutul).</p>

            <p>Detalii despre structurile de conducere ale Federației Române de Arte Marțiale pot fi vizionate pe acest website la secțiunea ”Conducere”, iar organigrama poate fi consultată / descărcată tot din acea secțiune – deschizând pagina denumită ”Birou federal”, sau apăsând AICI.</p>

            <p>Federația Română de Arte Marțiale a luat nastere la 21 martie 1990.</p>

            <p>‘ Unite pentru Artele Marțiale din România’ este deviza F.R.A.M..</p>

            <p>Acest website conține materiale prin care sunt promovate sportul și beneficiile aduse de practicarea lui în general, precum și articole despre artele marțiale în particular și valorile și obiectivele F.R.A.M., acestea din urmă fiind nucleul central al uniunii care există între componenții săi:</p>

            <ul>
                <li>Kick Boxing;</li>
                <li>KEMPO;</li>
                <li>MMA;</li>
            </ul>
        </MudText>
    </MudPaper>


<br />
<br />
<br />
<br />


@code {

}
