@page "/contact"

<MudPaper Class="container" Style="background-color: transparent;">

    <MudPaper Class="mud-paper-elevation-4 p-4" Style="background-color: transparent;">
        <h1 class="mud-text-white">Contactează-ne</h1>

        <div>
            <h3 class="mud-text-white">Adresa:</h3>
            <p class="mud-text-white">Strada Academiei, Nr. XX, Orașul, Cod poștal</p>
        </div>

        <div>
            <h3 class="mud-text-white">Număr de Telefon:</h3>
            <p class="mud-text-white">+40 123 456 789</p>
        </div>

    </MudPaper>


    <div class="col-md-6">
        <MudPaper Class="mud-paper-elevation-4 p-4" Style="background-color: transparent;">
            <div>
                <h3 class="mud-text-white">Orar de Funcționare:</h3>
                <p class="mud-text-white">Luni - Vineri: 8:00 - 20:00</p>
                <p class="mud-text-white">Sâmbătă: 10:00 - 16:00</p>
                <p class="mud-text-white">Duminică: Închis</p>
            </div>

            <div>
                <h3 class="mud-text-white">Alte Detalii:</h3>
                <p class="mud-text-white">Academia noastră de arte marțiale oferă cursuri pentru toate nivelurile de experiență.</p>
                <p class="mud-text-white">Pentru informații suplimentare sau programări, sunați-ne sau trimiteți-ne un e-mail.</p>
            </div>

            <div>
                <h3 class="mud-text-white">Urmărește-ne pe rețelele sociale:</h3>
                <ul>
                    <li><a href="https://facebook.com/academia-martiala" class="mud-text-white">Facebook</a></li>
                    <li><a href="https://twitter.com/academia-martiala" class="mud-text-white">Twitter</a></li>
                    <!-- Adaugă orice alte rețele sociale relevante -->
                </ul>
            </div>
        </MudPaper>
    </div>
</MudPaper>

@code {
   
}
