

<MudToolBar Style="background:inherit">

    <div class="footer-container">

        <div class="footer-section">
            <h4>Termeni și condiții</h4>
            <h4>Politica de confidentialitate</h4>
            <a href="https://anpc.ro/">
                <img src="https://th.bing.com/th/id/OIP.1ub9PnJXZ1s7jsAuyo7SkQAAAA?rs=1&pid=ImgDetMain" alt="ANPC" width="60" />
            </a>
            <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=RO"
        <img src="https://www.spalatoriicuratatorii.com/anpc-sol.png" alt="" width="110" />
        </a>
        </div>
        <div class="footer-section">
            <h4>Romexpo</h4>
            <p>0721 962 001</p>
            <p>academiadeartemartiale@gmail.com</p>
            <p>Bd. L.Rebreanu nr.65-67, Romexpo - Intrarea B</p>
        </div>
        <div class="footer-section">
            <h4>Militari</h4>
            <p>0737 102 165</p>
            <p>academiadeartemartiale@gmail.com</p>
            <p>Strada Grigore Alexandrescu nr.169, Militari Residence</p>
        </div>
        <div class="footer-section">
            <h4>Interacționează cu noi</h4>
            <MudIcon Icon="@Icons.Custom.Brands.Instagram" style="margin-right: 10px;" />
            <MudIcon Icon="@Icons.Custom.Brands.Facebook" style="margin-right: 10px;" />
            <MudIcon Icon="@Icons.Custom.Brands.TikTok" />
        </div>
        <div class="footer-section">
            <h4>Abonează-te la newsletter</h4>
            <input type="email" placeholder="Introdu adresa de email" />
            <button>Abonează-te</button>
        </div>
    </div>
</MudToolBar>




@code {

}
